<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Sign up</h2>
    <form action="/signup" method="post" style="display: flex; flex-direction : column;">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="email">Email address</label>
        <input type="email" name="email" id="">
        <label for="password">Password</label>
        <input type="password" name="password">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" name="confirmPassword">
        <button>Sign up</button>
    </form>
</body>
</html>